<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<!--  <link rel="stylesheet" href="mystyle.css"> --> 

	<style>
		body {
		  background-color: mistyrose;
		}
		
		h1 {
		  color: #b76e79 ;
		  margin-left: 40px;
		}
		h2 {
		  color :#a8516e ;
		  margin-left: 40px;
		}
		li {
		  color:#933d41 ;
		  margin-left: 40px;
		}
		h4 {
		  color:#b03060 ;
		  margin-left: 40px;
		}

		</style>

	<meta charset="utf-8">
	<title>BusBoard: Postcode</title>
	
</head>

<body id="home">
	<h1>BusBoard  </h1>
	<h2> Live Bus Depature Times for Postcode: <%= postcode %></h2>
	<h4> by Chloe Jones</h4>
	<ul>
		<%
			busArray.forEach((bus) => { %>
			<li><b><%= bus.showBuses() %></b></li>
			
		<% });
		%>
	</ul>
	

	</body>
	</html>

</body>
</html>